@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ededed;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .text-14 {
    @apply text-[14px] leading-[20px];
  }

  .text-16 {
    @apply text-[16px] leading-[24px];
  }

  .home {
    @apply flex w-full justify-center items-center flex-row;
  }

  .home-content {
    @apply flex max-w-screen-lg w-full flex-1 flex-col gap-8 px-5 sm:px-8 py-7 lg:py-12;
  }

  .card-container {
    @apply flex items-center justify-center md:max-w-md gap-2 w-full;
  }

  .card-joke {
    @apply flex relative border rounded w-full md:max-w-md min-h-20 bg-white p-4 shadow-2xl border-none text-justify;
  }
}